.center-heading{
    text-align: center;
    .section-title{
        font-weight: 500;
        font-size: 28px;
        color: $black;
        letter-spacing: 1.75px;
        line-height: 38px;
        margin-bottom: 20px;
    }
    p{
        font-size: 15px;
        color: #777;
        margin-top: 30px;
    }
}