#testimonials{
    padding-top: 90px;
    padding-bottom: 90px;
    .team-item {
        background: $white;
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
        border-radius: 20px;
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 25px;
        margin: 40px 0;
        &:hover{
            .team-content{
                .team-info {
                    margin-left: 30px;
                }
            } 
        }
        .team-content {
            text-align: left;
            overflow: hidden;
            i {
                display: block;
                margin-left: 25px;
                margin-top: 25px;
                font-size: 30px;
                color: #4E47DE;
                text-align: center;
            }
            p {
                margin-top: 25px;
                padding-left: 25px;
                padding-right: 25px;
                margin-bottom: 25px;
                font-weight: 400;
                font-size: 15px;
                color: #777;
                letter-spacing: 0.6px;
                line-height: 26px;
            }
            .user-image {
                width: 60px;
                height: 60px;
                overflow: hidden;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                margin-left: 25px;
                float: left;
                margin-top: 10px;
            }
            .team-info {
                float: left;
                margin-left: 20px;
                margin-top: 8px;
                -webkit-transition: all 0.3s ease 0s;
                -moz-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
                .user-name {
                    display: block;
                    font-weight: 400;
                    font-size: 17px;
                    color: $black;
                    letter-spacing: 0.25px;
                    margin-bottom: 5px;
                }
                span {
                    display: block;
                    font-weight: 400;
                    font-size: 15px;
                    color: $theme-color;
                    letter-spacing: 0.25px;
                }
            }
        }
    }
}