<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <title>Known</title>

    <% include /src/include/styles.ejs %>

</head>

<body>

    <% include /src/include/header.ejs %>

        <section id="home">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8 col-md-12 col-sm-12 hero-title m-auto">
                        <h1>We provide the best <strong>strategy</strong><br>to grow up your <strong>business</strong></h1>
                        <p>Softy Pinko is a professional Bootstrap 4.0 theme designed by Template Mo
                            for your company at absolutely free of charge</p>
                        <a href="#" class="main-button-slider">Discover More</a>
                    </div>
                </div>
            </div>
        </section>
        <section id="home-feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img src="images/featured-item-01.png" alt=""></i>
                            </div>
                            <h5 class="features-title">Modern Strategy</h5>
                            <p>Customize anything in this template to fit your website needs</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img src="images/featured-item-01.png" alt=""></i>
                            </div>
                            <h5 class="features-title">Best Relationship</h5>
                            <p>Contact us immediately if you have a question in mind</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="features-small-item">
                            <div class="icon">
                                <i><img src="images/featured-item-01.png" alt=""></i>
                            </div>
                            <h5 class="features-title">Ultimate Marketing</h5>
                            <p>You just need to tell your friends about our free templates</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="feature-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12 align-self-center">
                        <img src="images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                        <div class="left-heading">
                            <h2 class="section-title">Let’s discuss about you project</h2>
                        </div>
                        <div class="left-text">
                            <p>Nullam sit amet purus libero. Etiam ullamcorper nisl ut augue blandit, at finibus leo efficitur. Nam gravida
                                purus non sapien auctor, ut aliquam magna ullamcorper.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hr"></div>
                </div>
            </div>
        </section> 
        <section id="feature-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                        <div class="left-heading">
                            <h2 class="section-title">We can help you to grow your business</h2>
                        </div>
                        <div class="left-text">
                            <p>Aenean pretium, ipsum et porttitor auctor, metus ipsum iaculis nisi, a bibendum lectus libero vitae urna. Sed id leo eu
                            dolor luctus congue sed eget ipsum. Nunc nec luctus libero. Etiam quis dolor elit.</p>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5 col-md-12 col-sm-12 align-self-center">
                        <img src="images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
                    </div>
                </div>
            </div>
        </section>
        <section id="work-process">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 m-auto work-process-heding">
                            <h1>Work Process</h1>
                            <p>Aenean nec tempor metus. Maecenas ligula dolor, commodo in imperdiet interdum, vehicula ut ex. Donec ante
                                diam.</p>
                    </div>
                </div>
                <div class="row work-process-box">
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="images/work-process-item-01.png" alt=""></i>
                            <strong>Get Ideas</strong>
                            <span>Godard pabst prism fam cliche.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="images/work-process-item-01.png" alt=""></i>
                            <strong>Sketch Up</strong>
                            <span>Godard pabst prism fam cliche.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="images/work-process-item-01.png" alt=""></i>
                            <strong>Discuss</strong>
                            <span>Godard pabst prism fam cliche.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="images/work-process-item-01.png" alt=""></i>
                            <strong>Revise</strong>
                            <span>Godard pabst prism fam cliche.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="images/work-process-item-01.png" alt=""></i>
                            <strong>Approve</strong>
                            <span>Godard pabst prism fam cliche.</span>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-6">
                        <a href="#" class="mini-box">
                            <i><img src="images/work-process-item-01.png" alt=""></i>
                            <strong>Launch</strong>
                            <span>Godard pabst prism fam cliche.</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>   
        <section id="testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 m-auto">
                        <div class="center-heading">
                            <h2 class="section-title">What do they say?</h2>
                            <p>Donec tempus, sem non rutrum imperdiet, lectus orci fringilla nulla, at accumsan elit eros a turpis. Ut sagittis
                                lectus libero.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- ***** Testimonials Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-item">
                            <div class="team-content">
                                <i><img src="images/testimonial-icon.png" alt=""></i>
                                <p>Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci. Maecenas a
                                    finibus odio.</p>
                                <div class="user-image">
                                    <img src="http://placehold.it/60x60" alt="">
                                </div>
                                <div class="team-info">
                                    <h3 class="user-name">Catherine Soft</h3>
                                    <span>Managing Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Testimonials Item End ***** -->
                
                    <!-- ***** Testimonials Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-item">
                            <div class="team-content">
                                <i><img src="images/testimonial-icon.png" alt=""></i>
                                <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras
                                    maximus venenatis molestie.</p>
                                <div class="user-image">
                                    <img src="http://placehold.it/60x60" alt="">
                                </div>
                                <div class="team-info">
                                    <h3 class="user-name">Kelvin Wood</h3>
                                    <span>Digital Marketer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Testimonials Item End ***** -->
                
                    <!-- ***** Testimonials Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="team-item">
                            <div class="team-content">
                                <i><img src="images/testimonial-icon.png" alt=""></i>
                                <p>Quisque diam odio, maximus ac consectetur eu, auctor non lorem. Cras quis est non ante ultrices
                                    molestie. Ut vehicula et diam at aliquam.</p>
                                <div class="user-image">
                                    <img src="http://placehold.it/60x60" alt="">
                                </div>
                                <div class="team-info">
                                    <h3 class="user-name">David Martin</h3>
                                    <span>Website Manager</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Testimonials Item End ***** -->
                </div>
            </div>
        </section>  
        <section id="pricing-plans">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 m-auto">
                        <div class="center-heading">
                            <h2 class="section-title">Pricing Plans</h2>
                            <p>Donec vulputate urna sed rutrum venenatis. Cras consequat magna quis arcu elementum, quis congue risus volutpat.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <h3 class="pricing-title">Starter</h3>
                            </div>
                            <div class="pricing-body">
                                <div class="price-wrapper">
                                    <span class="currency">$</span>
                                    <span class="price">14.50</span>
                                    <span class="period">monthly</span>
                                </div>
                                <ul class="list">
                                    <li class="active">60 GB space</li>
                                    <li class="active">600 GB transfer</li>
                                    <li class="active">Pro Design Panel</li>
                                    <li>15-minute support</li>
                                    <li>Unlimited Emails</li>
                                    <li>24/7 Security</li>
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a href="#" class="main-button">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-item active">
                            <div class="pricing-header">
                                <h3 class="pricing-title">Premium</h3>
                            </div>
                            <div class="pricing-body">
                                <div class="price-wrapper">
                                    <span class="currency">$</span>
                                    <span class="price">21.50</span>
                                    <span class="period">monthly</span>
                                </div>
                                <ul class="list">
                                    <li class="active">120 GB space</li>
                                    <li class="active">1200 GB transfer</li>
                                    <li class="active">Pro Design Panel</li>
                                    <li class="active">15-minute support</li>
                                    <li>Unlimited Emails</li>
                                    <li>24/7 Security</li>
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a href="#" class="main-button">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <h3 class="pricing-title">Advanced</h3>
                            </div>
                            <div class="pricing-body">
                                <div class="price-wrapper">
                                    <span class="currency">$</span>
                                    <span class="price">42.00</span>
                                    <span class="period">monthly</span>
                                </div>
                                <ul class="list">
                                    <li class="active">250 GB space</li>
                                    <li class="active">5000 GB transfer</li>
                                    <li class="active">Pro Design Panel</li>
                                    <li class="active">15-minute support</li>
                                    <li class="active">Unlimited Emails</li>
                                    <li class="active">24/7 Security</li>
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a href="#" class="main-button">Purchase Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="blog">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 m-auto">
                        <div class="center-heading">
                            <h2 class="section-title">Blog Entries</h2>
                            <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis
                            molestie.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="blog-post-thumb">
                            <div class="img">
                                <img src="images/blog-item-01.png" alt="">
                            </div>
                            <div class="blog-content">
                                <h3>
                                    <a href="#">Vivamus ac vehicula dui</a>
                                </h3>
                                <div class="text">
                                    Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis
                                    eros. Aliquam egestas augue.
                                </div>
                                <a href="#" class="main-button">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="blog-post-thumb">
                            <div class="img">
                                <img src="images/blog-item-02.png" alt="">
                            </div>
                            <div class="blog-content">
                                <h3>
                                    <a href="#">Phasellus convallis augue</a>
                                </h3>
                                <div class="text">
                                    Aliquam commodo ornare nisl, et scelerisque nisl dignissim ac. Vestibulum finibus urna ut velit
                                    venenatis, vel ultrices sapien mattis.
                                </div>
                                <a href="#" class="main-button">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="blog-post-thumb">
                            <div class="img">
                                <img src="images/blog-item-03.png" alt="">
                            </div>
                            <div class="blog-content">
                                <h3>
                                    <a href="#">Nam gravida purus non</a>
                                </h3>
                                <div class="text">
                                    Maecenas eu erat vitae dui convallis consequat vel gravida nulla. Vestibulum finibus euismod odio, ut
                                    tempus enim varius eu.
                                </div>
                                <a href="#" class="main-button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="contact-us">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 m-auto">
                        <div class="center-heading">
                            <h2 class="section-title">Talk To Us</h2>
                            <p>Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper.</p>
                        </div>
                    </div>
                </div>
                <div class="row contact-us-forms-pace">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <h5 class="margin-bottom-30">Keep in touch</h5>
                        <div class="contact-text">
                            <p>110-220 Quisque diam odio, maximus ac consectetur eu, 10260
                                <br>auctor non lorem</p>
                            <p>You are NOT allowed to re-distribute Softy Pinko template on any template collection websites. Thank you.</p>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <div class="contact-form">
                            <form id="contact" action="" method="get">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <fieldset>
                                            <input name="name" type="text" class="form-control" id="name" placeholder="Full Name"
                                                required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <fieldset>
                                            <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address"
                                                required="">
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message"
                                                required=""></textarea>
                                        </fieldset>
                                    </div>
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <button type="submit" id="form-submit" class="main-button">Send Message</button>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <% include /src/include/footer.ejs %>
    <% include /src/include/scripts.ejs %>
    <script>
        $(document).ready(function () {
                var itemsMainDiv = ('.MultiCarousel');
                var itemsDiv = ('.MultiCarousel-inner');
                var itemWidth = "";

                $('.leftLst, .rightLst').click(function () {
                    var condition = $(this).hasClass("leftLst");
                    if (condition)
                        click(0, this);
                    else
                        click(1, this)
                });

                ResCarouselSize();




                $(window).resize(function () {
                    ResCarouselSize();
                });

                //this function define the size of the items
                function ResCarouselSize() {
                    var incno = 0;
                    var dataItems = ("data-items");
                    var itemClass = ('.item');
                    var id = 0;
                    var btnParentSb = '';
                    var itemsSplit = '';
                    var sampwidth = $(itemsMainDiv).width();
                    var bodyWidth = $('body').width();
                    $(itemsDiv).each(function () {
                        id = id + 1;
                        var itemNumbers = $(this).find(itemClass).length;
                        btnParentSb = $(this).parent().attr(dataItems);
                        itemsSplit = btnParentSb.split(',');
                        $(this).parent().attr("id", "MultiCarousel" + id);


                        if (bodyWidth >= 1200) {
                            incno = itemsSplit[3];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 992) {
                            incno = itemsSplit[2];
                            itemWidth = sampwidth / incno;
                        }
                        else if (bodyWidth >= 768) {
                            incno = itemsSplit[1];
                            itemWidth = sampwidth / incno;
                        }
                        else {
                            incno = itemsSplit[0];
                            itemWidth = sampwidth / incno;
                        }
                        $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                        $(this).find(itemClass).each(function () {
                            $(this).outerWidth(itemWidth);
                        });

                        $(".leftLst").addClass("over");
                        $(".rightLst").removeClass("over");

                    });
                }


                //this function used to move the items
                function ResCarousel(e, el, s) {
                    var leftBtn = ('.leftLst');
                    var rightBtn = ('.rightLst');
                    var translateXval = '';
                    var divStyle = $(el + ' ' + itemsDiv).css('transform');
                    var values = divStyle.match(/-?[\d\.]+/g);
                    var xds = Math.abs(values[4]);
                    if (e == 0) {
                        translateXval = parseInt(xds) - parseInt(itemWidth * s);
                        $(el + ' ' + rightBtn).removeClass("over");

                        if (translateXval <= itemWidth / 2) {
                            translateXval = 0;
                            $(el + ' ' + leftBtn).addClass("over");
                        }
                    }
                    else if (e == 1) {
                        var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                        translateXval = parseInt(xds) + parseInt(itemWidth * s);
                        $(el + ' ' + leftBtn).removeClass("over");

                        if (translateXval >= itemsCondition - itemWidth / 2) {
                            translateXval = itemsCondition;
                            $(el + ' ' + rightBtn).addClass("over");
                        }
                    }
                    $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
                }

                //It is used to get some elements from btn
                function click(ell, ee) {
                    var Parent = "#" + $(ee).parent().attr("id");
                    var slide = $(Parent).attr("data-slide");
                    ResCarousel(ell, Parent, slide);
                }

            });
    </script>
</body>
</html>